@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

header .header-banner {
    width: 100%;
    height: calc(100vh - 500px);
    display: table;
 /*   background-repeat: no-repeat;
    background-position: center; */
}

header .logo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0 20px 0;
}

header h1 {

    font-family: "Gentium Basic", serif;
    font-weight: 700;
    font-size: 45px;
    color: #000000;
    line-height: 0px;
    text-transform: uppercase;
    text-align: center;
   /* text-shadow: 2px 2px 8px #000000; */
        
}
        
header h2 {
        
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
        
}

header nav ul {

    display: block;
    margin: 0 auto;
    text-align: center; /*IE*/
    width: fit-content;
    
}
    
header nav ul li {
    
    display: inline-block;
    padding: 16px 16px;
    
}

nav ul li a {

    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    color: #172029;
    text-transform: uppercase;
    text-decoration: none;
    
}

header img {
    width: 100%;
    height: calc(100vh - 400px);
 /*   border-width: 30px;
    border-color: aqua; */
} 

.index-header {
    padding: 0 30px 0 0;
    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    justify-content: center;
    -o-flex-flow: row wrap;
    justify-content: center;
}


.aboutus {
    padding: 0 30px 30px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    float: left;
}

.paragraph-title {
    font-family: "Gentium Basic", sans-serif;
    font-weight: 600;
    font-size: 25px;
    padding: 10px;
    color: #3a383d;
    text-transform: uppercase;
    text-align: left;
}

/*.gallery-h2 {
    
    font-family: "Gentium Basic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    padding: 10px;
    color: #3a383d;
    text-transform: uppercase;
    text-align: left;
}*/

.gallery-links {

    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    justify-content: center;
    -o-flex-flow: row wrap;
    justify-content: center;
    
}

.gallery-image {

    margin: 10px;
    position: relative;
    text-align: center;
    -webkit-flex-basis: 300px;
    -moz-flex-basis: 300px;
    flex-basis: 300px;
    
} 

.gallery-image img {
    width: 100%;
    border-radius: 50%

}

.post-header {       
    
    /*kujundus*/
    
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 3px 3px 9px #111111;
    
       /*positsioneerimine*/
    
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    
}


footer {

    width: calc(100% - 80px);
    padding: 10px 40px;
    background-color: #172029;
    margin-top: 20px;
    overflow: hidden;
    
}

.hidden {

    display: none;
    
}


footer ul {

    width: fit-content;
    float: left;
    padding-left: 0px;
    
}
    
footer ul li {
    
    display: block;
    
}

footer ul li p {

    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 2px;
    color: #ffffff;    
}
    
footer ul li a {
    
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    
}

.footer-sm {

    width: 42px;
    float: right;
    padding: 20px 0 0 0;
    
}
    
.footer-sm img {
    
    width: 100%;
    margin-bottom: 10px;
    
}


@media only screen and (min-width: 950px) {   

    header .header-banner {
    
          height: calc(100vh - 1200px);
    
    }   
    
    header h1 a {
    
          font-size: 80px;
    
    }  
    
    header h2 {
    
          font-size: 24px;
          margin-top: 20px;
    
    }
    
    header nav ul li {
    
           padding: 16px 42px;
    
    }
    
}

@media only screen and (min-width: 950px) {

    .footer-contacts {
    
          display: block;
          font-family: "Open Sans", sans-serif;
          font-weight: 300;
          font-size: 18px;
          letter-spacing: 2px;
          line-height: 24px;
          color: #ffffff;
          text-transform: uppercase;
          float: left;
          margin: 0 80px;
    
    }
    
    .footer-contacts span {
    
          font-style: italic;
    
    }
    
}

@media only screen and (min-width: 950px) {

    .hidden {
    
        display: block;
        float: right;
        margin: 0 80px;
        text-align: center;
        -webkit-flex-basis: 300px;
        -moz-flex-basis: 300px;
        flex-basis: 300px;
    
    }

    .hidden img {
        width: 100%;
        float: right;
        position: relative;

    }

    .paragraph-title {
        padding: 0 50px 0 0;
    }
    
    .recipe-title {
        padding: 0 50px 0 0;
    }

@media only screen and (max-width: 950px) {

    hr {

        color: #4f5663;
        border-width: 2px;
        width: 30%;
        margin: 0 auto;
        margin-bottom: 5px;
        
    }
    
}
    
}